<form method="post" action="/sessions">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Sign in">
</form>
<div>
  <form action="/users/forgotten_password">
    <input type='submit' value='Forgot password'>
  </form>
</div>
