<!DOCTYPE html>
<html>
<head>
  <title>Bookmark manager</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <body>
    <%= yield %> <!-- yields to erb code -->
  </body>
</head>
</html>
