body {
  background-color: gray;
}
.link {
  position: relative; /* necessary for abs positioning of stars */
}

.link .star {
  position: absolute;
  font-size: 24px;
  right: 5px;
  top: 5px;
  color: yellowgreen;
  cursor: pointer;
}

.link .star.solid { /* NO SPACE means class star AND  class solid */
  opacity: 0; /* invisible but clickable - i.e. unlike 'hidden' */
}
